body {
  width: 210mm;
  /* to centre page on screen*/
  margin-left: auto;
  margin-right: auto;
}

#intro {
  background-color: #145374;
}

#contact {
  background-color: #00334e;
}

.heading {
  color: #216583;
}

.highlight {
  color: #216583;
}

.skill {
  background-color: #e1e8eb;
  font-weight: 500;
}

p {
  text-align: justify;
}
